/*HEADER*/
#brand {
	margin: 5px 0 0 15px;
}

.log {
	float: right;
	padding-top: 5px;
}

.log a {
	margin-right: 7px;
}

.menu {
	padding-top: 10px;
}

#menu-nav {
	float: right;
	margin-right: 70px;
}

.menu ul li a{
	padding-bottom: 10px;
	padding-top: 10px;
}

#slogan {
	float: left;
	margin-top: 17px;
}
/*END HEADER*/
/*CONTENT*/
.main {
	min-height: 500px;
	padding-bottom: 25px;
}

.main:first-child {
	padding-top: 10px;
}

.contenedor-principal {
	padding-top: 0px;
}

.categoria {
	height: 35px;
}

/*PREGUNTA*/
.pregunta {
	height: 90px;
	margin-top: 10px;
}

.pregunta-categoria {
	float: left;
	border-radius: 5px;
}

.pregunta-categoria p {
	padding: 3px;
	margin: 0;
}

.pregunta-contenido-larga h3 {
	margin: 3px 0;
}

.pregunta-fecha {
	float: right;
	margin-right: 10px;
}

.pregunta-usuario {
	float: right;
	margin-right: 20px;
}

.spotlight {
}

#respuestas, #popularidad {
	padding: 0;
	width: 56px;
	margin: 2px;
	height: 85px;
}

#respuestas h4, #popularidad h4 {
	margin: 15px 0 15px 0;
}

#respuestas {
	
}

#popularidad {

}

.pregunta-contenido h3 {
	margin: 15px 0 15px 0;
}
/*END PREGUNTA*/
/*END CONTENT*/
/*SIDE*/
.side {

}

.titulo-side h4 {
	
}

.contenido-side {
	margin-left: 15px;
}
/*END SIDE*/
/*FOOTER*/
footer {
	height: 100px;
	padding-top: 40px;
}
/*END FOOTER*/