/*HEADER*/
#brand {
	margin: 5px 0 0 15px;
}

.log {
	float: right;
	padding-top: 5px;
}

.log a {
	margin-right: 7px;
}

.menu {
	padding-top: 10px;
}

#menu-nav {
	float: right;
	margin-right: 70px;
}

.menu ul li a{
	padding-bottom: 10px;
	padding-top: 10px;
}

#slogan {
	float: left;
	margin-top: 17px;
}
/*END HEADER*/
/*CONTENT*/
.main {
	min-height: 500px;
	padding-bottom: 25px;
}

.main:first-child {
	padding-top: 10px;
}

.contenedor-principal,
.contenedor-principal-log {
	padding-top: 0px;
}

.ruta {
	height: 35px;
	padding-left: 10px;
}

/*PREGUNTA*/
.pregunta {
	height: 90px;
	margin-top: 10px;
}

.pregunta-categoria {
	float: left;
	border-radius: 5px;
}

.pregunta-categoria p {
	padding: 3px;
	margin: 0;
}

.pregunta-contenido-larga h3 {
	margin: 3px 0;
}

.pregunta-fecha {
	float: right;
	margin: 0 10px 0 0;
}

.pregunta-fecha p,
.pregunta-usuario p {
	margin: 6px 0 0 0;
}

.pregunta-usuario {
	float: right;
	margin-right: 20px;
}

.spotlight {
}

#respuestas, #popularidad {
	padding: 0;
	width: 56px;
	margin: 2px;
	height: 85px;
}

#respuestas h4, #popularidad h4 {
	margin: 15px 0 15px 0;
}

.pregunta-contenido h3 {
	margin: 15px 0 15px 0;
}

/*END PREGUNTA*/
/*LOGIN*/
.registro-log {
	text-align: center;
	height: 77vh;
	overflow: auto;
}

.registro-log h1 {
	margin: 40px 0;
}

.pregunta-img img {
	width: 20px;
	height: 25px;
	float: right;
	padding-top: 6px;
	margin-right: 5px;
	border-radius: 10px;
}

.form-group {
    margin-bottom: 25px;
}
/*END LOGIN*/

/*END CONTENT*/
/*SIDE*/
#crear-pregunta {
	padding: 10px;
}

.crear {
	text-align: center;
	margin-bottom: 20px;
	position: relative;
	top: -12px;
}

.titulo-side h5 {
	margin-top: 15px;
}

.contenido-side {
	margin-left: 15px;
}
/*END SIDE*/
/*DETAIL*/
#id_contenido {
	width: 600px;
}

.pregunta-titulo h2 {
	margin: 15px 0;
}

.pregunta-detalle p,
.pregunta-detalle img,
.answer-info p,
.answer-info img {
	float: right;
	margin-right: 5px;
}

.pregunta-detalle h4 {
	margin: 30px;
}

.pregunta-detalle img,
.answer-info img {
	width: 15px;
	height: 20px;
}

.respuestas {
	margin: 20px 0;
}

.respuestas h3 {
	margin-top: 10px;
}

.answer {
	margin: 10px 0;
}

.answer > p {
	margin-top: 15px;
}

.votos {
	width: 150px;
	height: 30px;
	padding: 4px 0 0px 10px;
	margin: 0;
	position: relative;
	left: -14px;
	top: 0;
}

.votos p {
	float: left;
}

.votos p:first-child {
	margin-right: 10px;
}

.votos img {
	height: 23px;
	width: 23px;
	border-radius: 100%;
}

.boton-res {
	height: 50px;
	width: auto;
	margin: 30px 40%;
}

.responder {
	padding: 20px 10px;
}

.user_answer p {
	margin-top: 15px;
	border-top: 1px solid black;
}
/*END DETAIL*/
/*FOOTER*/
footer {
	padding-top: 20px;
}
/*END FOOTER*/

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}