{% extends "_layouts/base.html" %}
{% load static %}

{% block main %}
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ object.profile_image.url }}" alt="Imagen de perfil" class="img-thumbnail image">
			{% if user == profile_user %}
			<p class="center"><a href="{% url 'accounts:update' object.id %}">Actualizar perfil</a></p>
		{% endif %}
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<p class="user_name">
						{{ object.first_name }} {{ object.last_name }}
					</p>
				</div>
				<div class="panel-body panel-height">
					<p><strong>Reputacion:</strong> {{ object.rating }}p</p>
					<p><strong>Correo:</strong> {{ object.email }}</p>
					<p><strong>Respuestas:</strong> {{ profile_user.answers.count }}</p>
					<p><strong>Preguntas:</strong> {{ profile_user.asks.count }}</p>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					Acerca de mi
				</div>
				<div class="panel-body panel-height">
					<p>{{ object.about_me|safe }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-success">
				<div class="panel-heading title">
					Actividad reciente
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Respuestas</div>
				<ul class="list-group">
					{% for answer in profile_user.answers.all|slice:':5' %}
						<li class="list-group-item"><strong>En</strong> <a href="#" class="list-group-item-heading">{{ answer.ask.issue|safe }}</a><p class="list-group-item-text"><strong>Respondio: </strong>{{ answer.content|truncatechars:100|safe }}</p></li>
					{% empty %}
						<li class="list-group-item">
							Nunca ha respondido
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Preguntas</div>
				<ul class="list-group">
					{% for ask in profile_user.asks.all|slice:':10' %}
						<li class="list-group-item"><a href="#">{{ ask.issue }}</a></li>
					{% empty %}
						<li class="list-group-item">
							Nunca ha preguntado
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock main %}
{% block side %}
<div class="titulo-side crear">
	<h4><br/><a id="crear-pregunta" href="{% url 'askme:create' %}">Crear una pregunta</a></h4>
</div>
{% endblock side %}