{% extends "_layouts/base.html" %}
{% load static %}

{% block main %}
	<div class="row">
		<div class="col-sm-3">
			<img src="{{ object.profile_image.url }}" alt="profile" class="img-thumbnail">
		</div>
		<div class="col-sm-4">
			<div class="panel panel-success">
				<div class="panel-heading">
					<p class="user_name">
						{{ object.first_name }} {{ object.last_name }}
					</p>
				</div>
				<div class="panel-body panel-height">
					<p>Reputacion: {{ object.rating }}p</p>
					<p>Correo: {{ object.email }}</p>
					<p>Respuestas:</p>
					<p>Preguntas:</p>
					<p>Pais:</p>
				</div>
			</div>
		</div>
		<div class="col-sm-5">
			<div class="panel panel-default">
				<div class="panel-heading">
					Acerca de mi
				</div>
				<div class="panel-body panel-height">
					<p>{{ object.about_me }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<div class="panel panel-success">
				<div class="panel-heading title">
					Actividad reciente
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Respuestas</div>
				<ul class="list-group">
					{% for answer in profile_user.answers.all|slice:':5' %}
						<li class="list-group-item"><strong>En</strong> <a href="#" class="list-group-item-heading">{{ answer.ask.issue }}</a><p class="list-group-item-text"><strong>Respondio: </strong>{{ answer.content|truncatechars:80 }}</p></li>
					{% empty %}
						<li class="list-group-item">
							Nunca ha respondido
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Preguntas</div>
				<ul class="list-group">
					{% for ask in profile_user.asks.all|slice:':10' %}
						<li class="list-group-item"><a href="#">{{ ask.issue }}</a></li>
					{% empty %}
						<li class="list-group-item">
							Nunca ha preguntado
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
{% endblock main %}
{% block side %}
{% if user == profile_user %}
	<h4><a href="{% url 'accounts:update' object.id %}">Actalizar perfil</a></h4>
{% endif %}
{% endblock side %}