{% extends "_layouts/base.html" %}

{% block title %}{% if category %} {{ category.title }} | {% else %} Preguntas | {% endif %} {{ block.super }} {% endblock title %}

{% block route %}
	{% include "askme/_route.html" %}
{% endblock route %}

{% block main %}
	{% for object in object_list %}
		{% include "askme/_asks.html" %}	
	{% endfor %}
	<div class="pagination-div">
		<ul class="pagination">
			{% if page_obj.has_previous %}
				<li><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
			{% endif %}
			{% for pg in paginator.page_range %}
				{% if page_obj.number == pg %}
					<li class="active"><a href="?page={{ pg }}">{{ pg }}</a></li>
				{% else %}
					<li><a href="?page={{ pg }}">{{ pg }}</a></li>
				{% endif %}
			{% endfor %}
			{% if page_obj.has_next %}
				<li><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
			{% endif %}
		</ul>
	</div>
{% endblock main %}

{% block side %}
	{% include "askme/_side.html" %}
{% endblock side %}