<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block titulo %} Preguntame!  {% endblock titulo %}</title>
	<link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
	<script type="text/javascript" src="../static/js/jquery-1.11.1.min.js"></script>
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../static/css/position.css">
	<link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>
<body>
	<div class="container-fluid">
		<div class="row all-header">
			<div class="col-md-7">
				<div class="navbar-header">
					<a id="brand" class="navbar-brand" href="#"><strong>?</strong>reguntame</a>
					<p id="slogan">LA COMUNIDAD LO SABE TODO <br>Y ESTAN DISPUESTOS A AYUDARTE!</p>
				</div>
			</div>
			<div class="col-md-5">
				<div class="row">
					<div class="col-md-12">
						<div class="log">
							<a class="log-area" href="#">Ingresa</a>
							<a class="log-area" href="#">Registrate</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 menu">
						<ul class="nav navbar-nav">
							<li><a href="#">PREGUNTAS</a></li>
							<li><a href="#">CATEGORIAS</a></li>
							<li><a href="#">USUARIOS</a></li>
							<li><a href="#">FAQ</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row categoria">
			
		</div>
		<div class="row contenedor-principal">
			<div class="col-md-9 main">
				<div class="row">
					<div id="pregunta" class="col-md-10 col-md-offset-1">
						<div class="row shadow">
							<div id="spotlight" class="col-md-2">
								<div class="row">
									<div id="respuestas" class="col-md-6" >
										<h4>8</h4>
										<p>Preguntas</p>
									</div>
									<div id="popularidad" class="col-md-6" >
										<h4>12</h4>
										<p>Popularidad</p>
									</div>
								</div>
							</div>
							<div id="pregunta-contenido" class="col-md-10">
								<h3>¿Quieres hacer una pregunta?</h3>
								<div id="pregunta-usuario">
									<a href="#">Naffer</a>
								</div>
								<div id="fecha">
									<p>25/02/2014</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3 side">
				
			</div>
		</div>
	</div>
	<footer>
		<p>Creado por <a href="#">Naffer Reyes</a></p>
	</footer>
	<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>